@use "../../public/lib/article.scss";

.k-thing {
    position: relative;
    cursor: pointer;

    label {
        display: inline-block;
        cursor: pointer;
        padding-right: 6px;
        transform: scale(1.2);
    }
}