$initial: #fff;
//$primary: #0285d7;
$primary: #0396f2;
$secondary: #40bf89;
$link: #62a8ea;
$mobile: 768px;

$fontSize: 14px;
$sidebar: #181c22;

$bg: #F4F7F9;

$light: darken($initial, 9%);
$dark: darken($initial, 85%);
$textColor: darken($initial, 80%);
$lightTextColor: darken($initial, 65%);

$todo_gray: #999;
$todo_blue: #2d8cf0;
$todo_red: #ed3f14;
$todo_green: #19be6b;
$todo_yellow: #BF9F03;