body {
  background: url("//a.yimiyisu.com/kooteam/bg/3.jpg") fixed no-repeat #F4F7F9;
  background-size: cover;
  font-size: 12px;
  padding-top: 86px;
  overflow: hidden;
}

%grid-bg {
  background: #fff url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHBhdHRlcm4gaWQ9ImdyaWQiIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgcGF0dGVyblVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHBhdGggZD0iTSAwIDEwIEwgNDAgMTAgTSAxMCAwIEwgMTAgNDAgTSAwIDIwIEwgNDAgMjAgTSAyMCAwIEwgMjAgNDAgTSAwIDMwIEwgNDAgMzAgTSAzMCAwIEwgMzAgNDAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2VlZWVlZSIgb3BhY2l0eT0iMC4zIiBzdHJva2Utd2lkdGg9IjEiLz48cGF0aCBkPSJNIDQwIDAgTCAwIDAgMCA0MCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZWVlZWVlIiBzdHJva2Utd2lkdGg9IjEiLz48L3BhdHRlcm4+PC9kZWZzPjxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JpZCkiLz48L3N2Zz4=') -1px -1px;
}

%shadow {
  box-shadow: 1px 0 0 #e6e6e6, -1px 0 0 #e6e6e6, 0 1px 0 #e6e6e6, 0 -1px 0 #e6e6e6, 0 3px 13px rgba(0, 0, 0, 0.08);
}

#J_app, .z-container {
  max-width: 1680px;
  margin: 0 auto;
  overflow-x: hidden;
  padding-bottom: 30px;
}

.k-body {
  position: absolute;
  top: 120px;
  left: 30px;
  right: 30px;
  bottom: 30px;

  .el-scrollbar {
    height: 100%;
  }
}

.k-content {
  margin: 10px 30px 30px 30px;
  border: solid #f0f0f0 1px;
  background: #fff;
  min-height: 480px;
}

.k-footer {
  text-align: center;
  color: #333;

  a, span {
    color: #333;
    margin-left: 6px;
    padding-right: 6px;
  }
}

a {
  background-color: transparent;
  text-decoration: none;
  color: $link;

  &:visited {
    color: $link;
  }
}

.k-prority {
  margin-right: 8px;
  overflow: hidden;
  text-align: center;
  &.a {
    color: #f80e15;
  }

  &.b {
    color: #BF9F03;
  }

  &.c {
    color: #009fe3;
  }

  &.d {
    color: #79aa1c;
  }
}

