.k-board-add {
  //position: absolute;
  background: #ebecf0;
  position: sticky;
  left: 0;
  right: 0;
  bottom: 0;

  .action {
    cursor: pointer;
    font-size: 16px;
    width: 90%;
    margin: 10px;
    padding: 4px 6px;
    border-radius: 4px;
    color: #666;

    i {
      margin-right: 6px;
    }

    &:hover {
      background: rgba(9, 30, 66, .08);
      color: #172b4d;
    }
  }

  .wrap {
    margin: 8px 6px 0 6px;
    background-color: #fff;
    color: #091e42;
    border-top: 1px solid #fff;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(9, 30, 66, .25);
  }

  .prority {
    background: #F4F5F7;
    border-radius: 0 0 3px 3px;
    padding-top: 6px;
    position: relative;
    padding-left: 8px;
    height: 29px;

    .btns {
      position: absolute;
      right: 8px;
      bottom: 3px;
    }

    .icon {
      font-size: 18px;
      display: inline-block;
      cursor: pointer;
      margin-left: 6px;
      color: #999;

      &:hover {
        color: #222;
      }
    }
  }

  textarea {
    border: 0;
    resize: none;
    margin: 6px 0;
    font-size: 14px;
    width: 256px;

    &:focus {
      outline: 0;
    }
  }
}

.k-board-column {
  display: flex;
  height: 100%;
}

.k-column-add {
  .wrap {
    position: absolute;
    z-index: 3;
    top: 4px;
    left: 4px;
    right: 4px;
  }

  .el-input__inner {
    height: 50px;
    line-height: 50px;
  }

  .prority {
    margin-top: 12px;
    text-align: right;
  }

  .trigger {
    text-align: center;
    margin: 20px 0;
    font-size: 16px;
    color: #666;

    .icon {
      font-weight: bold;
      margin-right: 3px;
    }
  }
}

.k-board-detail {
  margin: 0 15px;
  border-radius: .15rem;


  .header {
    position: relative;

    .do {
      cursor: pointer;
      margin: 6px;

      &:hover {
        cursor: $primary;
      }
    }

    .el-popover__reference {
      position: absolute;
      right: 8px;
      cursor: pointer;
      top: 4px;

      &:hover {
        color: $primary;
      }
    }
  }


  .h4 {
    padding: 5px 12px;
    font-size: 1rem;
    font-weight: bold;
    color: #666;
    height: 32px;
    position: relative;
    cursor: move;

    input {
      width: 245px;
      padding: 6px;
      font-weight: normal;
      font-size: .8rem;
      color: #333;
      border: solid 1px $primary;

      &:focus {
        outline: 0;
      }
    }

    .bold {
      margin-right: 2px;
    }

    .plus {
      margin-left: 6px;
      font-size: 14px;
      color: $primary;
    }

    .do {
      position: absolute;
      right: 10px;
      top: 8px;
    }
  }

  .thing {
    margin: 8px 11px 0 9px;
    background-color: #fff;
    border-left: 2px solid #fff;
    color: #091e42;
    padding: 6px 8px 2px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(9, 30, 66, .25);

    &.a {
      border-color: #f80e15;
    }

    &.b {
      border-color: #BF9F03;
    }

    &.c {
      border-color: #009fe3;
    }

    &.d {
      border-color: #79aa1c;
    }

    &:hover {
      color: #091e42;
      background: #F4F5F7;
    }

    .more {
      position: relative;
      line-height: 30px;
      height: 30px;
    }

    .z-avatar {
      position: absolute;
      right: 0;
      bottom: 2px;
    }
  }

  .column {
    width: 300px;
    margin-right: 15px;
    border-radius: .15rem;
    flex: 1;
    //background: rgba(235, 236, 240, .9);
    background-color: #ebecf0;
    overflow: hidden;
    position: relative;

    &.draghover {
      background: #ccc;
    }

    .empty {
      margin: 20px;
      text-align: center;
    }
  }
}

.k-prority-add {
  margin-right: 8px;
  margin-top: 4px;
  text-align: center;
  display: inline-block;
  width: 16px;
  height: 16px;
  padding-left: 2px;
  cursor: pointer;
  font-family: "zenicon";
  border-radius: 2px;

  &.a {
    background: #f80e15;
  }

  &.b {
    background: #BF9F03;
  }

  &.c {
    background: #009fe3;
  }

  &.d {
    background: #79aa1c;
  }

  &.active:before {
    content: "\e6d9";
    position: absolute;
    left: 3px;
    top: -1px;
  }

  &.active {
    color: #fff;
    position: relative;
  }
}