.k-calendar {
  button:focus {
    outline: 0;
  }

  td {
    color: #666;

    &.fc-widget-content {
      border-color: #ddd;
    }
  }

  h2 {
    font-weight: normal;
    font-size: 1rem;
  }

  .fc-head {
    background: #ddd;

    thead {
      //border: 0;
    }

    th {
      font-weight: normal;
      color: #666;
      padding: 3px 0;
      //border: 0;
    }
  }
}
