.k-doc-board {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 22;
  overflow: hidden;
  background: #f9f9f9;

  .tox .tox-menubar {
    padding-left: 10%;
  }

  .tox .tox-toolbar {
    padding-left: 10%;
  }

  .tox-sidebar-wrap {
    margin: 20px 12% auto;
    //position: absolute;
    //top: 60px;
    //left: 12%;
    //right: 12%;
    //bottom: 50px;
    //border: .1rem;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    //box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .08);
    //box-shadow: 1px 0 0 #e6e6e6, -1px 0 0 #e6e6e6, 0 1px 0 #e6e6e6, 0 -1px 0 #e6e6e6, 0 3px 13px rgba(0, 0, 0, 0.08);
  }

  .tox-toolbar__primary {
    background: none !important;
    margin: 0 12% auto;
  }

  .tox-toolbar-overlord {
    background: #f9f9f9 !important;
  }

  .tox-editor-header {
    position: fixed;
    left: 0;
    right: 0;
    border-bottom: 1px solid #E9E9E9;
  }

  .tox-sidebar-wrap {
    margin-top: 60px;
    padding: 10px 30px;
    background: #fff;
  }

  .tox-edit-area,
  .tox-tinymce {
    border: 0 !important;
  }

  .tox-tinymce {
    margin-bottom: 50px;
  }

  .rep-nav {
    height: 36px;
    position: relative;
    font-size: 12px;
    z-index: 15;
    overflow: hidden;
    line-height: 36px;
    color: #777;
    background: #fff;
    border-bottom: 1px solid #E9E9E9;

    a {
      display: block;
      color: #777;
    }

    dd {
      font-size: 14px;
      text-align: center;
      cursor: pointer;
      width: 50px;
      display: inline-block;
      line-height: 36px;
      margin-right: 1px;

      i, span {
        display: block;
        line-height: 32px;
        padding-bottom: 4px;
      }

      &.on {
        color: $primary;
      }

      &.active,
      &:hover {
        color: #fff;
        background: #059DFD;

        i {
          color: #fff !important;
        }

        a {
          color: #fff;
        }
      }
    }

    dt {
      margin-left: 10px;
      color: #333;
      border-left: 1px solid #ddd;
      padding-left: 30px;
      font-size: 16px;
    }

    .z-noselect {
      position: absolute;
      right: 30px;
      top: 0;
      font-size: 12px;
      color: #666;
    }
  }

  .close {
    position: absolute;
    top: 12px;
    color: #666;
    z-index: 17;
    font-size: 14px;
    right: 16px;
  }

  .doc-nav {
    top: 0;
    right: -350px;
    bottom: 0;
    position: absolute;
    width: 300px;
    z-index: 16;
    border-left: 1px solid #E6E9ED;
    background: #F7F9FB;
    padding: 16px 18px;
    transition: all ease-in .4s;

    &.show {
      right: 0;
    }

    .chapter {
      color: #222;

      .chapter {
        margin-left: 20px;
      }
    }

    .item {
      padding: 6px 5px;
      cursor: pointer;
      border-bottom: 1px dashed #F7F9FB;

      i {
        color: #666;
      }

      &.active,
      &:hover {
        color: $primary;
        border-color: #E6E9ED;
      }
    }
  }

  .success {
    position: absolute;
    right: 16px;
    top: 8px;
    font-size: 14px;
    color: #f80e15;
    z-index: 16;
  }

  .toolbar {
    z-index: 4;
    position: absolute;
    left: -100px;
    top: 80px;
    width: 60px;
    border-radius: 2px;
    background: #F7F9FB;

    &.show {
      left: 30px;
    }
  }

  .handle {
    cursor: move;
    height: 12px;
    text-align: center;
    overflow: hidden;
    font-size: 12px;
    color: #eee;
    line-height: 12px;
    border-radius: 2px 2px 0 0;
    //background: $primary;
    background: #059DFD;

    &:hover {
      background: #0275BE;
    }
  }

  .tools {
    border: 1px solid #E6E9ED;

    .attr {
      margin-top: -1px;
      position: relative;
      text-align: center;
      border-top: 1px solid #E6E9ED;
      height: 48px;
      color: #333;
      line-height: 48px;

      &:hover {
        div {
          display: inline-block;
        }
      }

      div {
        position: absolute;
        left: 100%;
        top: -1px;
        display: none;
        text-align: left;
      }

      span {
        min-width: 60px;
        cursor: pointer;
        text-align: center;
        display: inline-block;
        background: #F7F9FB;
        border: 1px solid #E6E9ED;

        & + span {
          margin-top: -1px;
        }

        &:hover {
          color: $primary;
          background: #fff;
        }
      }
    }
  }
}

.k-grap-editor {
  position: absolute;
  z-index: 101;
  top: 30px;
  left: 300px;
  background: #fff;
  border-radius: 2px;
  border: 1px solid #ddd;
  overflow: hidden;

  .colors {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .theme {
    width: 30px;
    height: 30px;
    background: #f40;
    position: absolute;
    transform: rotate(45deg);
    cursor: pointer;
    right: -16px;
    bottom: -16px;
  }

  textarea {
    resize: none;
    border: 0;
    width: 100%;
    height: 100%;
    min-height: auto;

    &:focus {
      outline: 0;
    }
  }
}

.k-graph {
  position: absolute;
  top: 36px;
  left: 0;
  right: 0;
  bottom: 0;

  iframe {
    border: 0;
    height: 100%;
    width: 100%;
  }
}

.k-md {
  min-height: 600px;
  font-size: 14px;
}