.k-doc {
  margin: 0 15px;
  border-radius: .15rem;
  .search {
    position: absolute;
    right: 10px;
    top: 8px;
    cursor: pointer;
  }
  .el-col-4 {
    border-radius: .15rem 0 0 .15rem;
    background: rgba(255, 255, 255, .8);
    .z-list {
      margin-bottom: 10px;
    }
    .el-button {
      background: none;
      border: none;

      &:hover, &:active, &:focus {
        background: none !important;
        border: none;
      }
    }
  }

  .el-col-20 {
    background-color: #fff;
    border-left: solid 15px #fff;
    border-right: solid 15px #fff;
    border-radius: 0 0.15rem .15rem 0;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: normal;
    padding: .4rem 0 .4rem .6rem;
    border-bottom: solid 1px #ddd;
    position: relative;
  }

  .doc-item {
    border-bottom: 1px solid #ddd;
    padding: .6rem;
    cursor: pointer;

    .time {
      display: block;
      color: #999;
      font-size: 12px;
      margin-top: .2rem;
      position: relative;
    }

    .z-confirm {
      position: absolute;
      display: none;
      bottom: 0;
      right: 6px;
      color: #FA585D;
    }

    &:hover {
      .z-confirm {
        display: block;
      }
    }

    &:hover, &.active {
      background-color: #fff;
    }
  }
}