$headerHeight: 40px;
.k-header {
  z-index: 15;
  height: $headerHeight;
  //background: rgba(2, 133, 215, .8);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  font-size: 14px;
  //background-color: #0285d7;
  //background-color: #0396f2;
  background-color: $primary;
  background: linear-gradient(45deg, #0396f2 0%, #0285d7 100%);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .25);

  .icon {
    font-size: 16px;
    margin-right: 3px;
  }

  .z-row {
    color: $initial;
    height: $headerHeight;
    position: relative;
    z-index: 10;
    margin: 0 32px;
  }

  h2 {
    font-size: 1.2rem;
    height: $headerHeight;
    line-height: 36px;
    display: inline-block;
    position: relative;
    cursor: pointer;

    img {
      width: 90px;
      opacity: 0.8;
      margin-top: .9rem;
      display: none;
    }
  }

  .z-12 {
    li {
      line-height: $headerHeight;
      color: $initial;

      &:hover, &.active {
        background: darken($primary, 10%);
      }
    }
  }

  .logout {
    cursor: pointer;
  }

  .user-info {
    display: inline-block;
    position: relative;
    margin-right: 6px;
    cursor: pointer;

    ul {
      display: none;
      position: absolute;
      background: #fff;
      border: 1px solid #eee;
      left: 0;
      top: 38px;
      width: 80px;
      text-align: center;
    }

    li {
      height: 32px;
      padding: 2px 0;
      line-height: 32px;
      color: #666;

      &:hover {
        color: $primary;
      }
    }

    &:hover {
      ul {
        display: block;
      }
    }
  }

  .profile {
    text-align: right;
    line-height: $headerHeight;

    .username {
      &:hover {
        color: #f0f0f0 !important;
      }
    }

    //span {
    //  cursor: pointer;
    //  margin-right: 6px;
    //}
  }

  a {
    color: $initial;
    display: block;
    width: 116px;
    text-align: center;

    &:visited {
      color: $initial;
    }

    &:hover {
      color: darken($initial, 5%);
    }
  }
}

.k-nav {
  position: fixed;
  left: 0;
  right: 0;
  top: $headerHeight;
  font-size: 14px;
  background-color: rgba(255, 255, 255, .9);
  //background-color: #fff;
  z-index: 12;
  color: #606266;
  height: 32px;
  line-height: 34px;

  .el-row {
    margin: 0 32px;
  }

  .icon {
    font-size: 16px;
    margin-right: 2px;
  }

  .el-col-16 {
    text-align: right;
  }

  span {
    margin-right: 12px;
    cursor: pointer;

    &:hover {
      color: $primary;
    }

    &.active {
      color: $primary;
    }

    & + span {
      padding-left: 12px;
      border-left: 1px solid #ccc;
    }
  }
}
