.z-mind {
  @extend %grid-bg;
  min-height: 680px;
  position: relative;
  overflow: hidden;
  &:focus {
    outline: 0;
  }
  .action {
    position: absolute;
    right: -28px;
    top: -17px;
    display: inline-block;
    padding: .3rem;
    background: #fff;
    z-index: 10;
    transform: rotate(45deg) scale(1.4);
    &:before {
      content: "\e5d7";
    }
  }
  .k-mind-map {
    position: relative;
    svg {
      cursor: move;
    }
    .root {
      background: #f40;
      width: 120px;
      font-weight: bold;
      height: 40px;
      text-align: center;
      color: #fff;
      line-height: 40px;
      &.active {
        outline: solid 2px #f40;
      }
    }
    .tool {
      position: absolute;
      left: -200px;
      top: -200px;
      width: 120px;
      span {
        display: inline-block;
        width: 16px;
        line-height: 28px;
        cursor: pointer;
        &:hover {
          color: $primary;
        }
      }
    }
  }
}



