.k-model-list {
  .item-model {
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    text-align: center;

    span {
      display: block;
      color: #666;
      line-height: 30px;
    }
  }

  img {
    width: 104px;
    height: 104px;
    display: block;
    border-radius: 4px;

    &:hover {
      box-shadow: 0 4px 8px rgba(9, 30, 66, .25);
    }
  }
}