.k-plan {
  margin: 0 15px;
  //border-radius: .3rem;
  .z-col {
    width: 4rem;
    position: relative;
    //border-radius: .3rem 0 0 .3rem;
  }
  .z-1 {
    overflow-y: hidden;
    overflow-x: auto;
    background: rgba(255, 255, 255, .9);
    //border-radius: 0 .3rem .3rem 0;
  }
  .header {
    position: relative;
    padding: .3rem .5rem;
    height: 28px;
    line-height: 28px;
    color: #000;
    .z-icon {
      margin-left: .5rem;
      cursor: pointer;
    }
  }
  .z-4 {
    text-align: right;
    cursor: pointer;
  }
  .table-fixed {
    position: relative;
    overflow: hidden;
    z-index: 3;
    .wrap {
      margin-left: 260px;
      overflow-x: scroll;
      //overflow: scroll;
    }
    .prev, .next {
      position: absolute;
      top: 0;
      background: #f0f0f0;
      display: inline-block;
      width: 33px;
      height: 24px;
      font-size: 24px;
      line-height: 24px;
      text-align: center;
      cursor: pointer;
      z-index: 6;
      &:hover {
        color: #fff;
        background: $primary;
      }
    }
    .prev {
      left: 265px;
    }
    .next {
      right: 0;
    }
  }
  .thing {
    height: 39px;
    border-bottom: 1px solid #f0f0f0;
    padding: 0 10px;
  }
  .scale {
    position: absolute;
    height: 20px;
    min-width: 45px;
    left: 1800px;
    top: 10px;
    z-index: 6;
    .ui-resizable-e {
      border-left: solid 1px rgba(255, 255, 255, .3);
      border-right: solid 1px rgba(255, 255, 255, .3);
      height: 16px;
      width: 4px;
      top: 2px;
      right: 4px;
    }
    &.a {
      //background: rgba(248, 14, 21, .4);
      background: #f80e15;
    }
    &.b {
      //background: rgba(231, 192, 4, .4);
      background: #ecc402;
    }
    &.c {
      //background: rgba(0, 159, 227, .4);
      background: #009fe3;
    }
    &.d {
      //background: rgba(121, 170, 28, .4);
      background: #79AA1C;
    }
  }
  table {
    //width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    display: block;
    th {
      position: absolute;
      left: 0;
      visibility: visible;
      z-index: 5;
      text-align: left;
      width: 260px;
      overflow: hidden;
      font-weight: normal;
      span {
        margin-left: 10px;
        line-height: 30px;
      }
    }
    .weekend {
      color: #ff7a7a;
    }
    .month {
      background: #ff7a7a;
      color: #fff;
    }
    tbody {
      padding-top: 3rem;
      td, th {
        height: 40px;
        line-height: 40px;
      }
      th {
        background: rgba(255, 255, 255, .5);
      }
      .empty {
        td:hover {
          background-color: #CFECFF !important;
        }
      }
      td {
        position: relative;
      }
      tr {
        &:hover {
          th, td {
            color: $primary;
            background: rgba(255, 255, 255, .3);
          }
        }
      }
    }
    thead {
      td, th {
        background-color: #f9f9f9;
        height: 30px;
        color: #666;
      }
    }
    td {
      word-break: keep-all;
      word-wrap: normal;
      white-space: nowrap;
      overflow: visible;
      width: 44px;
      min-width: 44px;
      border-right: 1px solid rgba(255, 255, 255, .3);
      text-align: center;
      line-height: 1.5rem;
      empty-cells: show;
    }
  }
}