.k-project-set {
  .k-thing {
    margin-top: -1px;
  }

  .card {
    height: 100px;
    padding-top: 10px;
    border-radius: 6px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 36px;
    margin-bottom: 20px;
  }
  h4 {
    font-size: 18px;
  }

  .finished {
    background: #19be6b;
    //background: rgba(121, 170, 28, .7);
  }

  .unfinish {
    background: #E7C004;
    //background: rgba(236, 196, 2, .5);
  }

  .over {
    background: #ff7a7a;
    //background: rgba(248, 14, 21, .5);
  }
}
