.k-project-member {
  margin: 0 15px;
  border-radius: .15rem;
  min-height: 680px;
  &.bg {
    border-top: 1px solid transparent;
    background: rgba(255, 255, 255, .9);
  }
  .z-col {
    position: relative;
    width: 4rem;
  }
  h3 {
    margin-bottom: 12px;
    font-size: 18px;
  }
  .z-1 {
    border-radius: 0 .15rem .15rem 0;
    background: rgba(255, 255, 255, .9);
  }
  .content {
    margin: 20px;
  }
  img {
    width: 40px;
    border-radius: 50%;
  }
  .owner { // 项目负责人
    color: darken(#ff7a7a, 15%);
  }
  .admin { //项目管理员
    color: darken(#764df8, 15%);
  }
}