.k-project {
  margin: 0 20px;

  .project-card {
    //background: rgba(255, 255, 255, .9);
    //background: #e9edf0;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: .1rem;
    position: relative;
  }

  .empty {
    background: rgba(255, 255, 255, .7);
    min-height: 80px;
    border-radius: 2px;
  }

  .header {
    //background: #F7F7FB;
    background: #fff;
    cursor: pointer;
    border-bottom: 1px solid #efefef;
    padding-bottom: 20px;
    //box-shadow: 0 3px 4px -2px rgba(0, 0, 0, .16);
    &:hover {

    }

    .z-12 {
      text-align: center;
      color: #999;

      strong {
        display: block;
        font-size: 32px;
        color: $primary;
      }
    }

    .z-12 + .z-12 {
      border-left: 1px solid #e8e8e8;
    }
  }

  h3 {
    height: 40px;
    font-size: 14px;
    font-weight: normal;
    padding: 0 10px;
    line-height: 40px;
  }

  .op {
    position: absolute;
    right: 30px;
    top: 14px;
    font-size: 20px;
  }

  .z-8 {
    text-align: center;
    color: #999;
    cursor: pointer;

    &:hover {
      color: #333;

      .doc {
        color: darken(#ff7a7a, 15%);
      }

      .member {
        color: darken(#764df8, 15%);
      }

      .set {
        color: darken(#ffca65, 15%);
      }
    }

    .doc {
      color: #ff7a7a;
    }

    .member {
      color: #764df8;
    }

    .set {
      color: #ffca65;
    }

    i {
      display: block;
      font-size: 24px;
      margin: 12px 0;
    }
  }

  .new {
    align-items: stretch;
    height: 170px;
    overflow: hidden;

    .z-8 {
      padding: 16px 0;
      border-right: 1px solid #f1f1f1;
      color: #666;

      &:hover {
        color: $primary;
      }
    }

    .z-icon {
      font-size: 36px;
    }

    li {
      height: 32px;
      line-height: 32px;
      overflow: hidden;
      margin: 0 12px;
      border-bottom: dotted 1px #ccc;
      color: #666;
      padding-left: 1px;
      list-style: inside circle;

      &:hover {
        color: darken($primary, 5%);
        cursor: pointer;
      }
    }
  }
}

.k-project-process {
  margin-top: 10px;

  p {
    color: #999;
    margin-left: 36px;
  }

  ul {
    font-weight: bold;
    width: 90%;
    display: inline-block;
    margin-left: 36px;
  }

  li {
    height: 30px;
    max-width: 115px;
    position: relative;
    margin-bottom: 20px;
    border-radius: 2px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    float: left;
    margin-right: 20px;

    .item-name {
      display: inline-block;
      padding: 0 8px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: 30px;
    }

    &:not(:last-child):after {
      content: "\e6e0";
      display: inline-block;
      font-family: element-icons !important;
      font-stretch: normal;
      font-style: normal;
      font-variant: normal;
      font-weight: 400;
      speak: none;
      text-transform: none;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      vertical-align: top;
      top: 5px;
      right: -17px;
      color: #d9d9d9;
      position: absolute;
    }

    &:before {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #1b9aee;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
    }
  }
}

.z-project-pop {

  span {
    display: block;
    //text-align: left;
    margin-bottom: 8px;
  }
}