.k-report {
  overflow: auto;

  .el-dialog__body {
    padding-top: 0 !important;
  }

  .block-item {
    display: inline-block;
    padding: 4px 12px;
    border: solid 1px #dcdfde;
    border-radius: 3px;
    cursor: move;
    margin: 0 20px 10px 0;
  }

  .blocks {
    margin-bottom: 20px;
  }

  .el-form {
    .z-input {
      display: block !important;
    }
  }

  h4 {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: normal;
    border-bottom: 1px solid #eee;
  }

  .input-title {
    font-size: 22px;
    border: 0;
    width: 100%;
    height: 30px;

    &:focus {
      border: 0;
      outline: 0;
    }
  }

  .k-done {
    margin-bottom: 30px;
  }

  .k-undo, .k-done {
    color: #666;

    li {
      margin-bottom: 8px;
    }
  }

  .formate {
    min-height: 400px;
    background: #fcfce1;
    border: 1px solid #dcdfde;
    border-radius: 3px;

    .block-item {
      display: block;
      margin-bottom: 6px;
    }
  }

  .reback {
    cursor: pointer;
    display: inline-block;
    color: #666;
  }

  .el-select {
    width: 90%;
  }

  .form-item {
    margin-top: 20px;
  }

  .header {
    padding: .1rem 0 1rem 0;
    font-size: 20px;
    font-weight: bold;
    //border-bottom: solid 1px #eaeaea;

    .z-20 {
      font-size: 22px;
    }
  }
}