.k-system {
  margin: 0 15px;
  border-radius: .15rem;

  .content {
    margin: 0 30px;

    .k-thing {
      margin-bottom: -1px;
    }
  }

  label.add {
    margin: 0 0 10px 8px;
  }

  .sidebar {
    color: #fff;
    width: 20rem;
    text-align: right;
    background-color: rgba(0, 0, 0, .5);
    border-radius: .15rem 0 0 .15rem;

    ul {
      margin-top: 1rem;
    }

    li {
      line-height: 50px;
      cursor: pointer;
      padding-right: 2rem;
      margin-bottom: 1px;

      &:hover, &.active {
        font-weight: bold;
        color: #eee;
        background-color: rgba(0, 0, 0, .5);
      }
    }

    i {
      margin-right: 8px;
    }
  }

  .skin {
    margin: 0 16px 16px 0;
    width: 160px;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    line-height: 0;
    border: solid 2px #fff;

    &.active, &:hover {
      border-color: $primary;

      img {
        opacity: 1;
      }
    }

    img {
      opacity: 0.75;
      width: 192px;
    }
  }

  .main {
    border-radius: 0 .15rem .15rem 0;
    min-height: 680px;
    background: rgba(255, 255, 255, 0.95);
    overflow: hidden;

    .z-input {
      width: 400px;
    }
  }

  #J_app {
    margin: 10px 20px;
  }

  h3 {
    margin: 20px 20px 12px 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 6px;
    font-size: 14px;
  }

  .wrap {

    select {
      max-width: 300px;
    }

    input[type="text"], input[type="password"] {
      width: 300px;
    }
  }

  .action {
    margin-top: 20px;
  }
}
