.k-thing-comment {
  margin-top: 20px;
  min-height: 240px;
  padding-bottom: 60px;
  position: relative;

  .avator {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .nick {
    color: #333;
  }

  .empty {
    margin: 40px;
    text-align: center;

    i {
      color: #999;
      margin-right: 4px;
    }
  }

  .red {
    display: none;
  }
  .el-col-2 {
    text-align: center;
  }

  .el-col-6 {
    text-align: right;
  }
  .info {
    font-size: 12px;
    margin-bottom: 4px;
  }

  .log {
    border-bottom: 1px #DDE2EE solid;
    margin: 0 0 4px 28px;
    padding-top: 16px;
    .time {
      font-size: 12px;
      margin: 6px 0;
    }
  }

  .content {
    border-bottom: 1px #DDE2EE solid;
    margin: 20px 0 0 28px;
    padding-bottom: 6px;
    &:hover {
      .red {
        display: inline-block;
      }
    }
  }

  .post {
    position: absolute;
    margin-top: 16px;
    bottom: 0;
    left: 26px;
    right: 0;
    label, .face {
      width: 30px;
      line-height: 36px;
      cursor: pointer;
      font-size: 16px;

      &:hover {
        color: $primary;
      }
    }

    .face {
      text-align: right;
    }

    .input {
      width: 586px;
      background: #fff;
      height: 24px;
      padding: 6px 8px;
      border: 1px solid #ddd;
      color: #666;

      &:focus {
        outline: 0;
      }
    }
  }
}

