.k-thing-detail-bg {
  .el-dialog {
    background: #F4F5F7;
  }

  .title {
    position: relative;

    strong {
      color: #172b4d;
      font-size: 16px;

      & + strong:before {
        content: "|";
        color: #999;
        margin: 0 8px;
        font-weight: 300;
      }

      &.active {
        color: $primary;
      }
    }

    .right {
      position: absolute;
      right: 0;
      top: 4px;
    }
  }

  .el-col-1 .icon {
    font-size: 20px;
    color: #42526e;
    font-weight: 600;
  }

  .btn {
    background: rgba(9, 30, 66, .04);
    border: 1px solid #E8EAEE;
    border-radius: 4px;
    padding: 4px 8px;
    margin-top: 6px;
    color: #172b4d;
    cursor: pointer;
    display: block;

    .icon {
      margin-right: 4px;
    }

    &.remove {
      color: rgba(248, 14, 21, .5);
      .hover {
        display: block;
        &:hover {
          color: #fff !important;
        }
      }
      &:hover {
        background: rgba(248, 14, 21, .5);
        color: #fff;
      }
    }

    &:hover {
      background: #409EFF;
      color: #fff;
    }
  }

  .z-detail-soperator {
    margin-top: 10px;
    text-align: right;
  }

  .header {
    margin-bottom: 12px;

    .time {
      font-size: 12px;
    }

    input {
      margin: -10px 0 0 -8px;
      font-size: 20px;
      font-weight: 600;
      border: 2px solid #F4F5F7;
      padding: 5px 8px;
      cursor: pointer;
      color: #172b4d;
      background: #F4F5F7;
      width: 580px;
      border-radius: 3px;

      &:disabled {
        color: #999;
        text-decoration: line-through;
      }

      &:focus {
        outline: 0;
        background: #fff;
        border-color: $primary;
      }
    }
  }

  .describe {
    textarea {
      border: 2px solid #F4F5F7;
      padding: 5px 8px;
      cursor: pointer;
      color: #172b4d;
      background: rgba(9, 30, 66, .04);;
      width: 580px;
      border-radius: 3px;
      resize: none;
      margin-top: 10px;

      &:focus {
        outline: 0;
        background: #fff;
        height: 100px;
        border-color: $primary;
      }
    }
  }

  .infos {
    dl {
      line-height: 30px;
    }

    dt .icon {
      position: relative;
      top: 3px;
    }

    dt i {
      margin-right: 10px;
    }
  }
}

.k-todo-list {
  padding-top: 20px;

  .el-progress {
    margin: 20px 0 10px 0;
  }

  .todo-editor {
    .input {
      height: 48px;
      width: 96%;
      outline: 0;
      padding: 0 2%;
      border: solid 2px #ddd;
      margin-bottom: 8px;
      border-radius: 4px;

      &:focus {
        border-color: $todo_blue;
      }
    }
    .operator {
      text-align: right;
      margin-top: 10px;
    }
  }
}

.k-todo-item {
  background: #F4F5F7;
  cursor: pointer;
  position: relative;

  .todo-editor {
    position: absolute;
    background: #F4F5F7;
    padding: 2px 4px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  &.finished {
    .content {
      text-decoration: line-through;
      color: #999;
    }

    .status:before {
      content: '\e6cb';
      color: $primary;
    }
  }

  .status {
    position: absolute;
    left: 4px;
    top: 6px;
    font-size: 16px;
  }

  .content {
    display: block;
    margin: 0 28px;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
  }

  .status:before {
    content: '\e6d5';
  }

  &:hover {
    //background: #E5E8EC;
    background: #fff;

    .z-confirm {
      display: inline-block;
    }
  }

  .z-confirm {
    display: none;
    right: 4px;
    position: absolute;
    top: 4px;
    color: #666;
  }
}

.k-files-list {
  margin: 20px 0;

  .item-file {
    margin-top: 20px;
    height: 80px;
    cursor: pointer;

    &:hover {
      background: rgba(9, 30, 66, 0.04);
    }
  }

  .left-txt {
    background: rgba(9, 30, 66, .04);
    color: #5e6c84;
    display: block;
    font-size: 18px;
    font-weight: 700;
    height: 80px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
  }

  .right-content {
    margin-left: 20px;
    padding: 5px 0;
    border-radius: 4px;

    .title {
      font-weight: 700;
      font-size: 14px;
      line-height: 25px;
      margin: 0;
    }

    span {
      font-size: 12px;
      color: #999;
    }

    .z-link {
      margin-left: 10px;
    }
  }
}

