.k-todo-tag {
  input {
    width: 100%;
    margin-bottom: 10px;
    height: 28px;
    border-width: 0 0 1px 0;
    line-height: 28px;
    &:focus {
      outline: 0;
    }
  }
  .tags {
    @extend %shadow;
    position: absolute;
    z-index: 11;
    top: 0;
    width: 225px;
    left: 0;
    padding: 10px;
    background: #fff;
  }
  .tag {
    span {
      display: inline-block;
      border-radius: .1rem;
      margin: 0 10px 10px 0;
      min-width: 36px;
      padding: 0 5px;
      line-height: 24px;
      cursor: pointer;
      height: 24px;
      overflow: hidden;
      color: #fff;
      text-align: center;
    }
  }
  .operator {
    margin-top: 10px;
    text-align: right;
  }
}