$todoBorderRadius: 4px;
.k-todo {
  margin: 0 15px;
  .block {
    overflow: hidden;
    background: #f5f6f7;
    border-radius: 0 0 $todoBorderRadius $todoBorderRadius;
  }
  .k-thing {
    border: dotted 1px rgba(153, 153, 153, .25);
    background: #fff;
    &:hover {
      color: #000;
      background: #f8f8f8;
    }
  }
  .el-col-12 {
    border-radius: $todoBorderRadius;
    .empty {
      margin: 20px auto;
      text-align: center;
    }
  }
  .a, .b {
    margin-bottom: 20px;
  }

  //.a, .c {
  //  .header, .block {
  //    margin-right: 10px;
  //  }
  //}
  //
  //.b, .d {
  //  .header, .block {
  //    margin-left: 10px;
  //  }
  //}

  .a {
    .header {
      background: rgba(248, 14, 21, .5);
    }
  }

  .b {
    .header {
      background: rgba(236, 196, 2, .5);
    }
  }

  .c {
    //background: #009fe3;
    .header {
      background: rgba(0, 159, 227, .7);
    }
  }

  .d {
    //background: #79AA1C;
    .header {
      background: rgba(121, 170, 28, .7);
    }
  }

  .header {
    color: #efefef;
    padding: 2px 5px 4px 5px;
    border-radius: $todoBorderRadius $todoBorderRadius 0 0;
    .flag {
      margin: 0 5px;
    }

    .z-col {
      width: 7.5rem;
      line-height: 28px;
      font-weight: bold;
      font-size: 14px;
    }

    .z-1 {
      position: relative;

      &.active {
        input {
          display: block;
        }

        i:before {
          content: "\e710";
        }
      }
    }

    .close {
      position: absolute;
      color: #fff;
      font-size: 1rem;
      cursor: pointer;
      right: 8px;
      top: 5px;
      z-index: 2;

      &:before {
        content: "\e740";
      }
    }

    label {
      display: block;
      height: 28px;
      cursor: pointer;
      margin-right: 32px;
    }

    input {
      display: none;
      background-color: rgba(255, 255, 255, 0.9);
      border-radius: .15rem;
      border: 0;
      outline: 0;
      width: 100%;
      height: 30px;
      overflow: hidden;
      color: #000;
      padding-left: 6px;
    }
  }

}

.k-todo-owner {
  position: relative;
  margin-left: 4px;

  .nick {
    cursor: pointer;
  }
}

.k-quard-list {
  li {
    height: 30px;
    cursor: pointer;
  }

  .active {
    color: #1F65D6;
  }
}