.k-install {
  font-size: 12px;

  .content {
    width: 600px;
    margin: 20px auto;
    min-height: 600px;
    background: #fff;
    border: 1px dashed #ccc;
    padding: 20px 60px;
  }

  .z-info {
    margin-top: 8px;
    width: 445px;
  }

  .z-input {
    width: 85%;
  }

  .big {
    width: 400px;
    margin: 80px auto;
  }

  h2 {
    text-align: center;
    color: $primary;
    font-size: 28px;
    margin: 30px 0;
  }

  h3 {
    margin: 20px 0;
    color: #666;
  }
}