.second {
  position: relative;
  height: 220px;
  text-align: center;
  transform: skewY(2deg);
  .bg {
    transform: skewY(-4.5deg);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #1F65D6;
  }
  .z-row {
    z-index: 2;
    position: relative;
    font-size: 22px;
    max-width: 1400px;
    margin: 0 auto;
    line-height: 220px;
  }
  i {
    color: rgba(255, 255, 255, .85);
    margin-right: 6px;
  }
  a {
    color: #fff;
    &:hover, &:visited {
      color: #fff;
    }
  }
}