[Unit]
Description = kooteam server
After = network.target syslog.target
Wants = network.target

[Service]
Type = simple
Restart=always
WorkingDirectory = /data/apps/kooteam
ExecStart = java  -Dfile.encoding=UTF-8 -server -XX:+UseG1GC -XX:+TieredCompilation  -Xms512m -Xmx512m -jar /data/apps/kooteam/kooteam.jar
[Install]
WantedBy = multi-user.target