.content {
  h2 {
    color: #48545f;
  }
  img {
    margin: 0 5px;
    vertical-align: middle;
  }
  .toolbar {
    display: none;
  }
  a, a:visited {
    color: #62a8ea;
    text-decoration: none;
  }
  a:hover {
    color: $primary;
  }
}