.z-mind {
  height: 800px;
  position: relative;
  overflow: hidden;

  &:focus {
    outline: 0;
  }

  .k-mind-map {
    position: relative;
    min-height: 1600px;

    svg {
      cursor: move;
    }

    .root {
      background: #f40;
      width: 120px;
      font-weight: bold;
      height: 40px;
      text-align: center;
      color: #fff;
      line-height: 40px;

      &.active {
        outline: solid 2px #f40;
      }
    }
  }
}

.k-flow {
  overflow: hidden;
  position: relative;
  height: 800px;

  .canvas {
    position: absolute;
    left: 0;
    top: 0;
  }

  &:focus {
    outline: none;
  }

  .shape {
    position: relative;
    text-align: center;
    width: 60px;
    line-height: 60px;
    cursor: pointer;
    height: 80px;

    &:hover {
      .path {
        fill: #E6E9ED;
      }
    }

    .svg {
      width: 100%;
      height: 100%;
      position: relative;
    }

    .path {
      fill: #fff;
      stroke-width: 1px;
    }
  }
}

.k-graph {
  position: absolute;
  top: 6px;
  left: 0;
  right: 0;
  bottom: 0;

  iframe {
    border: 0;
    height: 100%;
    width: 100%;
  }
}

//.k-graph {
//  position: absolute;
//  left: 0;
//  top: 10px;
//  bottom: 40px;
//  right: 0;
//  z-index: 2;
//}