.header {
  background: #fcfcfc;
  height: 50px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 3;
  border-bottom: 1px solid #d4dadf;
  box-shadow: 0 1px 1px 0 rgba(116, 129, 141, 0.1);
  @media screen and (max-width: $mobile) {
    background: #f6f6f6 !important;
    img {
      display: none;
    }
    .list {
      display: inline-block !important;
    }
    .full {
      display: none;
    }
  }

  .full {
    font-weight: normal;
    margin-right: 10px;
    cursor: pointer;

    &:hover {
      color: $primary;
    }
  }

  .list {
    display: none;
    font-weight: normal;
    margin-right: 4px;
    cursor: pointer;

    &:hover {
      color: $primary;
    }
  }

  h1 {
    color: #3B454E;
    font-size: 18px;
    line-height: 50px;
    margin: 0 0 0 1rem;
    //&:hover {
    //  color: $primary;
    //  cursor: pointer;
    //}
  }

  img {
    position: absolute;
    right: 12px;
    top: 12px;
    width: 100px;
    border: 6px solid #0285d7;
    border-radius: 3px;
    opacity: .85;

    &:hover {
      opacity: 1;
    }
  }
}