.nav {
  position: fixed;
  left: 0;
  top: 50px;
  bottom: 0;
  z-index: 2;
  width: 298px;
  background: #F5F7F9;
  border-right: 1px solid #E6ECF1;
  font-size: 12px;
  overflow: auto;

  .chapter {
    .chapter {
      margin-left: 18px;
      border-left: 1px solid #E6ECF1;
    }
  }

  .wrap {
    min-height: 400px;
    margin-bottom: 40px;
  }

  &.active {
    display: block;
  }

  .item {
    position: relative;
    padding: 6px 16px;
    border-color: #F5F7F9;
    border-style: solid;
    border-width: 1px 0;
    cursor: pointer;

    i {
      color: #9DAAB4;
      margin-right: 4px;
    }

    &:hover {
      background: #E6ECF1;
      border-color: #E6ECF1;
    }

    &.active {
      color: $primary;
      border-color: #E6ECF1;
      background: #fff;
    }
  }
}