.preview {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  background: rgba(0, 0, 0, 0.6);
  overflow: auto;
  img {
    left: 50%;
    top: 50%;
    position: relative;
  }
}